* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: #0F172A;
    color: #F1F5F9;
    position: relative;
    font-family: 'Inter', sans-serif;
}

.back-btn {
    position: fixed;
    top: 25px;
    left: 85px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(56, 189, 248, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F1F5F9;
    text-decoration: none;
    border: 1px solid rgba(56, 189, 248, 0.4);
    z-index: 10;
    transition: 0.3s;
}

.back-btn:active {
    background: #84d7fb;
    color: #141f38;
}

.bg-circle {
    position: absolute;
    border-radius: 50%;
    background: rgba(56, 189, 248, 0.12);
    pointer-events: none;
}

.big-left {
    width: 280px;
    height: 280px;
    top: -60px;
    left: -60px;
}

.dot {
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: rgba(56, 189, 248, 0.12);
    opacity: .25;
}

.d1 {
    top: 400px;
    right: 12%;
    width: 140px;
    height: 140px;
}

.d2 {
    top: 330px;
    right: 6%;
    border-radius: 28px;
}

.contact-wrapper {
    max-width: 900px;
    margin: -50px auto;
    padding: 110px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    position: relative;
    z-index: 2;
    text-align: center;
}

.title-box h1 {
    font-size: 36px;
}

.title-box p {
    font-size: 14px;
    color: #94A3B8;
    margin-top: 6px;
}

.contact-icons {
    display: flex;
    gap: 26px;
    justify-content: center;
    flex-wrap: wrap;
}

.icon-card {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(56, 189, 248, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #CBD5E1;
    text-decoration: none;
    transition: .3s;
}

.icon-card:active {
    color: #0F172A;
    background-color: #0EA5E9;
}

.icon-card i {
    font-size: 22px;
    color: #38BDF8;
}

.icon-card span {
    font-size: 12px;
}

.contact-card {
    width: 100%;
    max-width: 520px;
    padding: 32px;
    background: rgba(255, 255, 255, 0.035);
    border: 1px solid rgba(56, 189, 248, 0.2);
    border-radius: 20px;
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.45);
}

.contact-card h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    background: #020617;
    border: 1px solid rgba(56, 189, 248, 0.25);
    padding: 12px 14px;
    border-radius: 10px;
    color: #F1F5F9;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.contact-form textarea {
    resize: none;
}

.contact-form button {
    margin: 0 auto;
    background: #38BDF8;
    color: #0F172A;
    border: none;
    padding: 12px 26px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.contact-form button:hover {
    background: #0EA5E9;
}

.alert p {
    font-size: 15px;
}

.footer {
    margin-top: 20px;
    padding: 16px 0;
    font-size: 13px;
    color: #94A3B8;
    text-align: center;
}

.coming-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popup-box {
    background: #111;
    padding: 25px 30px;
    border-radius: 14px;
    text-align: center;
    width: 300px;
    color: #fff;
    animation: scaleIn 0.3s ease;
}

.popup-box h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

.popup-box p {
    font-size: 14px;
    opacity: 0.8;
    font-weight: 400;
}

.popup-box button {
    margin-top: 15px;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: #6c63ff;
    color: #fff;
    font-size: 14px;
}

@keyframes scaleIn {
    from {
        transform: scale(0.7);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* ================= LAPTOP ======================== */
@media (min-width:769px) and (max-width:1200px) {

    .contact-wrapper {
        max-width: 1000px;
        padding: 120px 24px 50px;
        gap: 32px;
    }

    .title-box h1 {
        font-size: 38px;
    }

    .contact-card {
        max-width: 560px;
        padding: 36px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 15px;
        padding: 14px 16px;
    }

    .contact-form button {
        padding: 14px 30px;
        font-size: 15px;
    }

    .icon-card {
        width: 96px;
        height: 96px;
    }

    .icon-card i {
        font-size: 24px;
    }
}
/* ================= TABLET ======================== */
@media (min-width:768px){
    .contact-wrapper {
        padding: 100px 24px 40px;
    }
}

/* ================= MOBILE ======================== */
@media (max-width:767px) {

    html,
    body {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .back-btn {
        top: 18px;
        left: 18px;
        width: 36px;
        height: 36px;
        font-size: 18px;
        border: none;
        background: transparent;
        -webkit-tap-highlight-color: transparent;
    }

    .back-btn:active {
        background: #84d7fb;
        color: #141f38;
    }

    .contact-wrapper {
        min-height: 100vh;
        padding: 60px 16px 16px;
        gap: 18px;
        justify-content: space-between;
        margin-top: 10px;
    }

    .title-box h1 {
        font-size: 24px;
    }

    .title-box p {
        font-size: 13px;
    }

    .contact-icons {
        gap: 16px;
    }

    .icon-card {
        width: 72px;
        height: 72px;
        background: transparent;
        -webkit-tap-highlight-color: transparent;
    }

    .icon-card i {
        font-size: 20px;
    }

    .icon-card span {
        font-size: 11px;
    }

    .contact-card {
        flex: 1;
        width: 80%;
        padding: 24px 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-card h2 {
        font-size: 18px;
    }

    .alert p {
        font-size: 13px;
    }

    .footer {
        padding: 12px 0;
        font-size: 12px;
    }

    .coming-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }

    .popup-box {
        background: #111;
        padding: 25px 30px;
        border-radius: 14px;
        text-align: center;
        width: 250px;
        height: 150px;
        color: #fff;
        animation: scaleIn 0.3s ease;
    }

    .popup-box h3 {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .popup-box p {
        font-size: 12px;
        opacity: 0.8;
    }

    .popup-box button {
        margin-top: 15px;
        padding: 8px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        background: #6c63ff;
        color: #fff;
        font-size: 12px;
    }
}

@media (max-width:420px) {
    html,
    body {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .bg-circle {
        position: absolute;
        border-radius: 50%;
        background: rgba(56, 189, 248, 0.12);
        pointer-events: none;
    }

    .big-left {
        width: 200px;
        height: 200px;
        top: -40px;
        left: -70px;
    }

    .dot {
        position: absolute;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: rgba(56, 189, 248, 0.12);
        opacity: .25;
    }

    .d1 {
        top: 540px;
        right: -12%;
    }

    .d2 {
        height: 10px;
        width: 10px;
        top: 240px;
        right: 6%;
        border-radius: 50%;
    }

    .back-btn {
        background: transparent;
        -webkit-tap-highlight-color: transparent;
    }

    .back-btn:active {
        background: #84d7fb;
        color: #141f38;
    }

    .contact-wrapper {
        height: auto;
        min-height: 100%;
        padding: 40px 12px 12px;
        gap: 14px;
        margin-top: 10px;
    }

    .title-box h1 {
        font-size: 22px;
    }

    .title-box p {
        font-size: 12px;
    }

    .contact-icons {
        flex-wrap: nowrap;
        gap: 10px;
        justify-content: center;
    }

    .icon-card {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        gap: 4px;
        background: transparent;
        -webkit-tap-highlight-color: transparent;
    }

    .icon-card i {
        font-size: 16px;
    }

    .icon-card span {
        font-size: 8px;
    }

    .contact-card {
        width: 80%;
        padding: 18px 14px;
    }

    .contact-card h2 {
        font-size: 17px;
        margin-bottom: 18px;
        margin-top: 0px;
    }

    .contact-form {
        gap: 14px;
    }

    .contact-form input {
        font-size: 13px;
        padding: 10px 12px;
    }

    .contact-form textarea {
        height: 140px;
        font-size: 13px;
        padding: 10px 12px;
        margin-bottom: 8px;
        font-family: 'Inter', sans-serif;
    }

    .contact-form button {
        font-size: 13px;
        padding: 10px 22px;
        -webkit-tap-highlight-color: transparent;
    }

    .alert p {
        font-size: 11px;
    }

    .footer {
        display: block;
        margin-top: 12px;
        padding: 10px 0;
        font-size: 12px;
        text-align: center;
    }

    .footer p {
        font-size: 10px;
        color: #94A3B8;
    }

    .coming-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }

    .popup-box {
        background: #111;
        padding: 25px 30px;
        border-radius: 14px;
        text-align: center;
        width: 200px;
        height: 140px;
        color: #fff;
        animation: scaleIn 0.3s ease;
    }

    .popup-box h3 {
        margin-bottom: 10px;
        font-size: 12px;
    }

    .popup-box p {
        font-size: 9px;
        opacity: 0.8;
    }

    .popup-box button {
        margin-top: 15px;
        padding: 8px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        background: #6c63ff;
        color: #fff;
        font-size: 11px;
    }
}