* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #0F172A;
    color: #F1F5F9;
    overflow: auto;
}

.shape {
    position: absolute;
    border-radius: 50%;
    background: rgba(56, 189, 248, 0.15);
    z-index: 0;
}

.shape1 {
    width: 320px;
    height: 320px;
    top: -110px;
    left: -100px;
}

.shape2 {
    width: 195px;
    height: 195px;
    bottom: 16%;
    right: 33%;
}

.shape3 {
    width: 170px;
    height: 170px;
    top: 35%;
    left: 45%;
    border-radius: 20%;
    background: rgba(56, 189, 248, 0.1);
}

.navbar {
    height: 80px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: relative;
    z-index: 10;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #F1F5F9;
    margin-left: 2.1%;
    border-bottom: 1px solid #eee;
}

.logo span {
    color: #38BDF8;
}

.nav-links a {
    margin-left: 55px;
    text-decoration: none;
    color: #F1F5F9;
    font-weight: 500;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background: #38BDF8;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.menu-toggle {
    display: none;
    font-size: 22px;
    color: #F1F5F9;
}

.hero {
    height: auto;
    min-height: calc(100vh - 80px);
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.hero-content {
    max-width: 520px;
    z-index: 1;
    margin-top: -3%;
    margin-left: 2%;
    gap: 30px;
}

.hero-content h1 {
    font-size: 42px;
    margin-bottom: 10px;
    color: #F1F5F9;
}

.hero-content h2 {
    font-size: 24px;
    color: #38BDF8;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 16px;
    line-height: 1.7;
    color: #CBD5E1;
    margin-bottom: 25px;
}

.hero-image {
    margin-top: -5%;
    margin-right: 5%;
}

.hero-image img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #38BDF8;
    box-shadow: 0 15px 40px rgba(56, 189, 248, 0.25);

}

.name {
    font-weight: 700;
    font-size: 36px;
    background: linear-gradient(270deg, #F1F5F9, #e4bf2c, #EC4899, #F1F5F9);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.role {
    display: inline-block;
    padding: 10px 16px;
    border: 1px solid rgba(56, 189, 248, 0.6);
    border-radius: 8px;
    font-size: 15px;
    color: #38BDF8;
    background: rgba(56, 189, 248, 0.08);
    box-shadow: 0 2px 18px rgba(56, 189, 248, 0.25);
}

.socials {
    display: flex;
    gap: 25px;
}

.social {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0F172A;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.12);
    color: #38BDF8;
    border: 1px solid rgba(56, 189, 248, 0.5);
    transition: 0.3s;
    text-decoration: none;
}

.social:active {
    background: #38BDF8;
    color: #0F172A;
}

/* ===== DESKTOP ===== */
@media (min-width:769px) {

    .hero {
        height: auto;
        min-height: calc(100vh - 80px);
        padding-top: 60px;
        padding-bottom: 60px;
        gap: 60px;
    }

    .hero-content {
        margin-top: 0;
    }

    .hero-image {
        margin-top: -2%;
    }

}


@media(max-width:768px) {
    body {
        overflow: auto;
        margin: 0;
        padding: 0;
    }

    .navbar {
        padding: 0 20px;
        height: 70px;
    }

    .logo {
        font-size: 17px;
        margin-left: 0;
        border-bottom: 1px solid #eee;
    }

    .menu-toggle {
        display: block;
        font-size: 22px;
        cursor: pointer;
        background: transparent;
        -webkit-tap-highlight-color: transparent;
    }

    .menu-toggle:active{
        color: #38BDF8;
    }

    .role {
        font-size: 15px;
        padding: 8px 12px;
        border-radius: 999px;
    }

    .hero {
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        padding: 30px 20px;
        height: auto;
        min-height: 100%;
    }

    .hero-content {
        order: 2;
        margin: 0;
        max-width: 100%;
    }

    .hero-content h1 {
        font-size: 24px;
        line-height: 1.3;
    }

    .hero-content h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .hero-content p {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 50px;
        margin-left: 30px;
        width: 85%;
        text-align: justify;
    }

    .hero-image {
        margin: 0 0 25px 0;
        order: 1;
    }

    .hero-image img {
        width: 180px;
        height: 180px;
    }

    .nav-links {
        position: absolute;
        top: 50px;
        right: 5px;
        background: #0F172A;
        padding: 18px 25px;
        display: none;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
        z-index: 20;
    }

    .nav-links.active {
        display: flex;
        background: #0F172A;
    }

    .nav-links a {
        margin: 12px 0;
        font-size: 14px;
        -webkit-tap-highlight-color: transparent;
    }

    .nav-links a::after {
        display: none;
    }
    .nav-links a:active {
        background: none;
        color: #38BDF8;
        border-radius: 6px;
    }

    .socials {
        justify-content: center;
    }

    .social {
        width: 38px;
        height: 38px;
        font-size: 14px;
        background: transparent;
        -webkit-tap-highlight-color: transparent;
    }

    .shape1 {
        width: 130px;
        height: 130px;
        top: -75px;
        left: -50px;
    }

    .shape2 {
        width: 100px;
        height: 100px;
        bottom: 120px;
        right: 2%;
    }

    .shape3 {
        display: none;
    }
}