* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}


body {
    background: #0F172A;
    color: #F1F5F9;
    overflow-x: hidden;
    position: relative;
}

.back-btn {
    position: fixed;
    top: 25px;
    left: 85px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(56, 189, 248, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F1F5F9;
    text-decoration: none;
    border: 1px solid rgba(56, 189, 248, 0.4);
    z-index: 10;
    transition: 0.3s;
}

.back-btn:active {
    background: #38BDF8;
    color: #0F172A;
}

.bg-circle {
    position: absolute;
    border-radius: 50%;
    background: rgba(56, 189, 248, 0.12);
    z-index: 0;
    pointer-events: none;
}

.big-left {
    width: 350px;
    height: 350px;
    top: -70px;
    left: -150px;
}

.big-right {
    width: 350px;
    height: 350px;
    bottom: 170px;
    right: -180px;
}

.dot {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(56, 189, 248, 0.12);
    opacity: 0.35;
    z-index: 0;
    pointer-events: none;
}

.d1 {
    top: 320px;
    left: 82%;
    height: 150px;
    width: 150px;
}

.d2 {
    top: 250px;
    left: 88%;
    border-radius: 30px;
    height: 135px;
    width: 135px;
}

/* ================= CONTENT ================= */
.project-wrapper {
    max-width: 900px;
    margin: 70px auto 80px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    position: relative;
    text-align: center;
    z-index: 2;
}

.page-title {
    font-size: 34px;
    color: #38BDF8;
    margin-bottom: -20px;
}

.page-subtitle {
    font-size: 16px;
    color: #CBD5E1;
}

/* ================= CARD ================= */
.card {
    background: rgba(255, 255, 255, 0.035);
    border: 1px solid rgba(56, 189, 248, 0.18);
    border-radius: 18px;
    padding: 32px;
    box-shadow: 0 18px 45px rgba(0, 0, 0, 0.45);
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 15px 40px rgba(56, 189, 248, 0.25);
}

.card-slider {
    width: 100%;
    height: 400px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 18px;
    position: relative;
    background-color: transparent;
}

.slider-track {
    display: flex;
    width: 300%;
    height: 100%;
    background-color: transparent;
    animation: slideImages 9s infinite ease-in-out;
}

.slider-track img {
    width: 33.3333%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 14px;
}

/* ===== SLIDE ANIMATION ===== */
@keyframes slideImages {
    0% {
        transform: translateX(0%);
    }

    33% {
        transform: translateX(0%);
    }

    38% {
        transform: translateX(-33.3333%);
    }

    66% {
        transform: translateX(-33.3333%);
    }

    71% {
        transform: translateX(-66.6666%);
    }

    100% {
        transform: translateX(-66.6666%);
    }
}


.card h2 {
    color: #38BDF8;
    font-size: 24px;
    margin-bottom: 14px;
    text-align: left;
}

.project-content p {
    margin-bottom: 16px;
    text-align: justify;
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project-tech span {
    background: rgba(56, 189, 248, 0.15);
    border: 1px solid rgba(56, 189, 248, 0.3);
    padding: 6px 12px;
    border-radius: 999px;
    font-size: 13px;
    color: #E0F2FE;
}

/* ===== PROJECT BUTTONS ===== */
.project-actions {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 15px;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    border: none;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

/* Primary Button */
.btn.primary {
    background: #38BDF8;
    color: #0F172A;
}

.btn.primary:hover {
    background: #0EA5E9;
    transform: translateY(-2px);
}

/* Outline Button */
.btn.outline {
    border: 1px solid rgba(56, 189, 248, 0.5);
    color: #E0F2FE;
}

.btn.outline:hover {
    background: rgba(56, 189, 248, 0.15);
    transform: translateY(-2px);
}

/* ================= FOOTER ================= */
.footer {
    padding: 40px 20px;
    text-align: center;
    border-top: 1px solid rgba(56, 189, 248, 0.15);
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-bottom: 15px;
}

.footer p {
    font-size: 14px;
    color: #94A3B8;
}

.coming-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popup-box {
    background: #111;
    padding: 25px 30px;
    border-radius: 14px;
    text-align: center;
    width: 300px;
    color: #fff;
    animation: scaleIn 0.3s ease;
}

.popup-box h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

.popup-box p {
    font-size: 14px;
    opacity: 0.8;
    font-weight: 400;
}

.popup-box button {
    margin-top: 15px;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: #6c63ff;
    color: #fff;
    font-size: 14px;
}

@keyframes scaleIn {
    from {
        transform: scale(0.7);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


/* ================= LAPTOP / MEDIUM ================= */
@media (max-width:1200px) {

    .project-wrapper {
        max-width: 800px;
        margin: 90px auto 70px;
        padding: 0 20px;
    }

    .page-subtitle {
        font-size: 16px;
        color: #CBD5E1;
    }

    .card {
        padding: 28px;
    }

    .card h2 {
        font-size: 21px;
    }

    .card p {
        font-size: 16px;
        line-height: 1.6;
    }

    .card-slider {
        height: 360px;
    }

    .slider-track img {
        width: 33.3333%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .big-left {
        width: 300px;
        height: 300px;
        left: -120px;
        top: -70px;
    }

    .big-right {
        width: 360px;
        height: 360px;
        right: -140px;
        bottom: 100px;
    }
}

/* ================= TABLET / MOBILE ================= */
@media (max-width:768px) {

    body {
        overflow-x: hidden;
    }

    .back-btn {
        top: 18px;
        left: 18px;
        width: 36px;
        height: 36px;
        font-size: 18px;
        border: none;
        background: transparent;
        -webkit-tap-highlight-color: transparent;
    }

    .back-btn:active {
        background: #38BDF8;
        color: #0F172A;
    }

    .page-title {
        font-size: 26px;
        margin-bottom: 2px;
        text-align: center;
    }

    .page-subtitle {
        font-size: 14px;
        color: #CBD5E1;
        margin-bottom: -10px;
        margin-bottom: 10px;
    }

    .big-left {
        width: 120px;
        height: 120px;
        left: -40px;
        top: -30px;
    }

    .big-right {
        width: 140px;
        height: 140px;
        right: -40px;
        bottom: 140px;
    }

    .dot {
        width: 15px;
        height: 15px;
        opacity: 0.15;
    }

    .project-wrapper {
        margin: 60px 15px 20px;
        gap: 20px;
    }

    .card {
        padding: 18px;
        border-radius: 14px;
    }

    .card h2 {
        font-size: 18px;
    }

    .project-content p {
        font-size: 13px;
        line-height: 1.5;
    }

    /* ===== SLIDER ===== */
    .card-slider {
        height: 260px;
    }

    .slider-track {
        height: 100%;
    }

    .slider-track img {
        width: 33.3333%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    /* ===== BUTTONS ===== */
    .btn {
        padding: 10px 16px;
        font-size: 13px;
        min-height: 40px;
    }

    .footer {
        padding: 25px 10px;
    }

    .footer p {
        font-size: 12.5px;
    }

    .coming-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }

    .popup-box {
        background: #111;
        padding: 25px 30px;
        border-radius: 14px;
        text-align: center;
        width: 250px;
        height: 150px;
        color: #fff;
        animation: scaleIn 0.3s ease;
    }

    .popup-box h3 {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .popup-box p {
        font-size: 12px;
        opacity: 0.8;
    }

    .popup-box button {
        margin-top: 15px;
        padding: 8px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        background: #6c63ff;
        color: #fff;
        font-size: 12px;
    }

}

/* ================= EXTRA SMALL MOBILES ================= */
@media (max-width:420px) {

    .back-btn {
        background: transparent;
        -webkit-tap-highlight-color: transparent;
    }

    .back-btn:active {
        background: #38BDF8;
        color: #0F172A;
    }

    .project-wrapper {
        margin: 40px 15px 20px;
    }

    .page-title {
        font-size: 22px;
        margin-bottom: -10px;
        text-align: center;
    }

    .page-subtitle {
        font-size: 14px;
        color: #CBD5E1;
    }

    .card {
        padding: 16px;
    }

    .card h2 {
        font-size: 18px;
    }

    .project-content p {
        font-size: 12.5px;
        line-height: 1.6;
    }

    /* ===== SLIDER ===== */
    .card-slider {
        height: 190px;
    }

    .slider-track {
        height: 100%;
    }

    .slider-track img {
        width: 33.3333%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    /* ===== TECH TAGS ===== */
    .project-tech span {
        font-size: 11.5px;
        padding: 5px 10px;
    }

    /* ===== BUTTONS ===== */
    .btn {
        width: 100%;
        justify-content: center;
        padding: 10px 0;
        font-size: 13px;
        min-height: 42px;
    }

    .footer {
        border-top: none;
    }

    .footer p {
        font-size: 10px;
        color: #94A3B8;
    }

    .coming-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }

    .popup-box {
        background: #111;
        padding: 25px 30px;
        border-radius: 14px;
        text-align: center;
        width: 200px;
        height: 140px;
        color: #fff;
        animation: scaleIn 0.3s ease;
    }

    .popup-box h3 {
        margin-bottom: 10px;
        font-size: 12px;
    }

    .popup-box p {
        font-size: 9px;
        opacity: 0.8;
    }

    .popup-box button {
        margin-top: 15px;
        padding: 8px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        background: #6c63ff;
        color: #fff;
        font-size: 11px;
    }

}