{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Rishikesh Kushwaha</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static '/css/about.css' %}">
</head>
<body>
    <a href="{% url 'home-page' %}" class="back-btn"><i class="fas fa-arrow-left"></i></a>
    <div class="bg-circle big-left"></div>
    <div class="bg-circle big-right"></div>
    <div class="dot d1"></div>
    <div class="dot d2"></div>
    <div class="about-wrapper">
        {% for card in about.cards %}
        <div class="card">
            <h2>{{ card.title }}</h2>

            {% if card.type == "text" %}
                <p>{{ card.content }}</p>

            {% elif card.type == "list" %}
                <ul>
                    {% for item in card.content %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <footer class="footer">
        <p>{{ about.footer }}</p>
    </footer>
</body>
</html>