{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Rishikesh Kushwaha</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static '/css/about.css' %}">
</head>
<body>
    <a href="{% url 'home-page' %}" class="back-btn"><i class="fas fa-arrow-left"></i></a>
    <div class="bg-circle big-left"></div>
    <div class="bg-circle big-right"></div>
    <div class="dot d1"></div>
    <div class="dot d2"></div>
    <div class="about-wrapper">
        <div class="card">
            {% for about_item in about.about_me %}
                <h2>{{ about_item.title }}</h2>
                <p>{{ about_item.content }}</p>
            {% endfor %}
        </div>
        <div class="card">
            {% for career_obj_item in about.career_obj %}
                <h2>{{ career_obj_item.title }}</h2>
                <p>{{ career_obj_item.content }}</p>
            {% endfor %}
        </div>
        <div class="card">
            {% for skills_item in about.skills %}
                <h2>{{ skills_item.title }}</h2>
                <div class="skills">
                    <span>🟢 {{ skills_item.content }}</span>
                </div>
            {% endfor %}
        </div>
        <div class="card">
            {% for project_item in about.project %}
                <h2>{{ project_item.title }}</h2>
                <ul>
                    <li>{{ project_item.content }}</li>
                </ul>
            {% endfor %}
        </div>
        <div class="card">
            {% for education_item in about.education %}
                <h2>{{ education_item.title }}</h2>
                <ul> 
                    <li>{{ education_item.content }}</li>
                </ul>
            {% endfor %}
        </div>
        <div class="card">
            {% for strength_item in about.strength %}
                <h2>{{ strength_item.title }}</h2>
                <ul>
                    <li>{{ strength_item.content }}</li>
                </ul>
            {% endfor %}
        </div>
    </div>
    <footer class="footer">
        <p>© 2026 All Rights Reserved | Rishikesh Kushwaha.</p>
    </footer>
</body>
</html>