{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Rishikesh Kushwaha</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static '/about.css' %}">
</head>
<body>

<!-- BACK BUTTON -->
<a href="{% url 'home-page' %}" class="back-btn">
    <i class="fas fa-arrow-left"></i>
</a>

<!-- BIG SIDE CIRCLES -->
<div class="bg-circle big-left"></div>
<div class="bg-circle big-right"></div>

<!-- SMALL DECORATIVE DOTS -->
<div class="dot d1"></div>
<div class="dot d2"></div>

<!-- MAIN CONTENT -->
<div class="about-wrapper">

    <div class="card">
        <h2>About Me</h2>
        <p>💻 I am a passionate and detail-oriented developer with a strong interest in building modern web applications and AI-ML Based applications. I enjoy transforming ideas into real-world solutions using technologies like Python, Django, Deep learning models, HTML, CSS, and JavaScript. I am always eager to learn new tools, improve my skills, and create projects that are both functional and user-friendly.</p>
    </div>

    <div class="card">
        <h2>Career Objective</h2>
        <p>🎯 To work with an organization that gives me ample opportunities to enhance my skills 
            and knowledge and contribute to the organization’s growth.</p>
    </div>

    <div class="card">
        <h2>Skills Highlights</h2>
        <div class="skills">
            <span>🟢 Python</span>
            <span>🟢 Django</span>
            <span>🟢 C++</span>
            <span>🟢 MySQL</span>
            <span>🟢 HTML & CSS</span>
            <span>🟢 DSA</span>
            <span>🟢 JavaScript</span>
            <span>🟢 Git & GitHub</span>
            <span>🟢 Full-Stack Development</span>
            <span>🟢 Desktop Applictions Development</span>
        </div>
    </div>

    <div class="card">
        <h2>Project Highlights</h2>
        <ul>
            <li>🎥 AI Powered - Multi Classification Detection System (LiveVision)</li>
            <li>🤖 Voice Assistant</li>
            <li>🌦️ Weather App</li>
        </ul>
    </div>
    <div class="card">
        <h2>Education</h2>
        <p>🎓 Bachelor of Technology (B.Tech) in CSE(Artificial Intelligence & Machine Learning)
            Actively learning core Computer Science & Engineering (Artificial Intelligence & Machine Learning) concepts, Web development and AI-Based 
            applications development.</p>
    </div>

    <div class="card">
        <h2>Strengths</h2>
        <ul>
            <li>✨ Quick learner</li>
            <li>✨ Punctual</li>
            <li>✨ Consistent</li>
            <li>✨ Good Communication</li>
        </ul>
    </div>

</div>

<!-- FOOTER -->
<footer class="footer">
    <p>© 2026 All Rights Reserved | Rishikesh Kushwaha.</p>
</footer>
</body>
</html>