{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{home.content.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <div class="logo">{{home.content.sublogo}}<span>{{home.content.logo}}</span></div>
        <nav class="nav-links">
            {% for item in home.navbar %}
                <a href="{% url item.url_name %}">{{ item.name }}</a>
            {% endfor %}
        </nav>
        <div class="menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <section class="hero">
        <div class="shape shape1"></div>
        <div class="shape shape2"></div>
        <div class="shape shape3"></div>
        <div class="hero-content">
            <h1>{{home.content.subname}}</h1>
            <h1 class="name">{{home.content.name}}</h1>
            <h2><span class="role">{{home.content.role}}</span></h2>
            <p>{{home.content.objective}}</p>
            <div class="socials">
                <a href="{{home.social_links.github}}" class="social github"><i class="fab fa-github"></i></a>
                <a href="{{home.social_links.linkedin}}" class="social linkedin"><i class="fab fa-linkedin-in"></i></a>
                <a href="{{home.social_links.gmail}}" class="social gmail"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
        <div class="hero-image">
            <img src="{% static 'images/A1_profile.jpeg' %}" alt="Rishikesh Kushwaha">
        </div>
    </section>
<script src="{% static '/js/home.js' %}"></script>
</body>
</html>