{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rishikesh Kushwaha | Software Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        {% for page_item in home.content %}
            <div class="logo">{{ page_item.sublogo }}<span>{{ page_item.logo }}</span></div>
        {% endfor %}
        <nav class="nav-links">
            {% for nav_item in home.navbar %}
                <a href="{% url nav_item.url_name %}">{{  nav_item.name  }}</a>
            {% endfor %}
        </nav>
        <div class="menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <section class="hero">
        <div class="shape shape1"></div>
        <div class="shape shape2"></div>
        <div class="shape shape3"></div>
        <div class="hero-content">
            {% for page_item in home.content %}
                <h1>{{ page_item.subname }}</h1>
                <h1 class="name">{{ item.name }}</h1>
                <h2><span class="role">{{ page_item.role }}</span></h2>
                <p>{{ page_item.objective }}</p>
            {% endfor %}
            <div class="socials">
                {% for social_item in home.social_links %}
                    <a href="{{ social_item.github }}" class="social github"><i class="fab fa-github"></i></a>
                    <a href="{{ social_item.linkedin }}" class="social linkedin"><i class="fab fa-linkedin-in"></i></a>
                    <a href="{{ social_item.gmail }}" class="social gmail"><i class="fas fa-envelope"></i></a>
                {% endfor %}
            </div>
        </div>
        <div class="hero-image">
            <img src="{% static 'images/A1_profile.jpeg' %}" alt="Rishikesh Kushwaha">
        </div>
    </section>
<script src="{% static '/js/home.js' %}"></script>
</body>
</html>