{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects | Rishikesh Kushwaha</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static '/css/project.css' %}">
</head>
<body>
    <a href="{% url 'home-page' %}" class="back-btn"><i class="fas fa-arrow-left"></i></a>
    <div class="bg-circle big-left"></div>
    <div class="bg-circle big-right"></div>
    <div class="dot d1"></div>
    <div class="dot d2"></div>
    <div class="project-wrapper">
        <h1 class="page-title">{{ project.title }}</h1>
        <p class="page-subtitle">{{ project.subtitle }}</p>
        {% for card in project.cards%}
        <div class="card">
            <div class="card-slider">
                <div class="slider-track">
                    {% for image in card.img %}
                        <img src="{% static image %}" alt="">
                    {% endfor %}
                </div>
            </div>
            <h2>{{ card.title }}</h2>
            <div class="project-content">
                <p>{{ card.content }}</p>
                <div class="project-tech">
                    {% for lang in card.language %}
                        <span>{{ lang }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="project-actions">
                <button class="btn primary" onclick="comingSoon()">
                    <i class="fas fa-play"></i>{{ card.live_btn }}
                </button>
                <button class="btn primary" onclick="comingSoon()">
                    <i class="fab fa-github"></i>{{ card.code_btn }}
                </button>
            </div>
        </div>
        {% endfor %}
        <div class="coming-popup" id="comingPopup">
            <div class="popup-box">
                <h3>{{ project.status }}</h3>
                <p>{{ project.msg }}</p>
                <button onclick="closePopup()">{{ project.btn }}</button>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>{{ project.footer }}</p>
    </footer>
<script src="{% static '/js/project.js' %}"></script>
</body>
</html>