{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume | Rishikesh Kushwaha</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static '/css/resume.css' %}">
</head>
<body>
    <a href="{% url 'home-page' %}" class="back-btn"><i class="fas fa-arrow-left"></i></a>
    <div class="bg-circle big-left"></div>
    <div class="bg-circle big-right"></div>
    <div class="resume-wrapper">
        <div class="card">
            <h2>{{ resume.title }}</h2>
            <p class="resume-text">{{ resume.content }}</p>
            <p class="resume-meta"><i class="{{ resume.clock_icon}}"></i>{{ clock_info }}</p>
            <ul class="resume-highlights">
                {% for highlights_item in resume.highlights %}
                    <li><i class="{{ highlights_item.icon }}"></i>{{ highlights_item }}</li>
                {% endfor %}
            </ul>
            <div class="resume-buttons">
                <a href="{%static '/Resume_Rishikesh_010126.pdf'%}" target="_blank" class="btn view-btn">
                    <i class="{{ resume.view_icon }}"></i>{{ resume.view_btn }}
                </a>
                <a href="{%static '/Resume_Rishikesh_010126.pdf'%}" download class="btn download-btn">
                    <i class="{{ resume.download_icon}}"></i>{{ resume.download_btn }}
                </a>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>© 2026 All Rights Reserved | Rishikesh Kushwaha.</p>
    </footer>
</body>
</html>